<!doctype html>
<html lang="en" ng-app="buggyApp">
<!--!

Hi this page is a compacted and compiled version of the original source
which you can find here::

    https://github.com/peterbe/buggy

The current version you're right now looking at is: $git_revision

To see what's done recently but not yet release go to:

https://github.com/peterbe/buggy/compare/$git_revision...HEAD

-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buggy</title>

<!-- build:css _cache/combined-$hash.min.css -->
<link rel="stylesheet" href="static/css/vendor/dialog-polyfill.css">
<link rel="stylesheet" href="static/css/vendor/pure-min.css">
<link rel="stylesheet" href="static/css/vendor/nv.d3.min.css">
<link rel="stylesheet" href="static/css/email.css">
<link rel="stylesheet" href="static/css/extra.css">
<!-- endbuild -->

</head>
<body>

<dialog>
  <span class="blinking">Loading</span>
</dialog>


<div class="pure-g-r content" id="layout" ng-controller="BugsController">
    <div class="pure-u" id="nav">
        <a href="#" class="nav-menu-button">Menu</a>

        <div class="nav-inner">

            <div class="pure-menu pure-menu-open">
                <ul>
                    <li class="pure-menu-heading">Statuses</li>
                    <li class="label"
                        ><a href="#" ng-class="{active: !selected_statuses.length}"
                          ng-click="filterByStatus('ALL')"
                          ><span class="status status-ALL"></span>ALL ({{ countByStatus('ALL') }})</a></li>
                    <li ng-repeat="status in all_possible_statuses"
                        class="label"
                        ><a href="#" ng-click="filterByStatus(status)"
                          ng-class="{active: isSelectedStatus(status)}"
                          ><span class="status status-{{ status }}"></span>{{ status }} ({{ countByStatus(status) }})</a></li>
                    <li class="label" ng-if="email"
                        ><a href="#"
                          ng-class="{active: isSelectedStatus('ASSIGNED_TO')}"
                          ng-click="filterByStatus('ASSIGNED_TO')"
                          ><span class="status status-ASSIGNED_TO"></span>ASSIGNED TO ME ({{ countByStatus('ASSIGNED_TO') }})</a></li>
                    <li class="label"
                        ><a href="#"
                          ng-class="{active: isSelectedStatus('UNREAD')}"
                          ng-click="filterByStatus('UNREAD')"
                          ><span class="status status-UNREAD"></span>UNREAD ({{ counts_by_status.UNREAD }})</a></li>

                    <li class="label"
                        ><a href="#"
                          ng-class="{active: isSelectedStatus('CHANGED')}"
                          ng-click="filterByStatus('CHANGED')"
                          ><span class="status status-CHANGED"></span>CHANGED ({{ counts_by_status.CHANGED }})</a></li>

                    <li class="pure-menu-heading">Options</li>
                    <li><a href="#" ng-click="toggleConfig()">Config</a></li>
                    <li><a href="#" ng-click="toggleCharts()">Charts</a></li>

		    <li><a href="#" ng-click="refreshBugs()" title="Ignore locally stored data and re-fetches from Bugzilla">Refresh List</a></li>
		    <li><a href="#" ng-click="reDownloadSomeComments()" title="Impatiently downloads more bug comments in the background">Download More</a></li>
                    <li><a href="#" ng-click="toggleAbout()">About</a></li>

                </ul>
            </div>

        </div><!-- /nav-inner -->
    </div><!-- /#nav -->

    <div class="pure-u-1" id="list" ng-controller="ListController">
        <keybinding on="j" invoke="selectNext()"></keybinding>
        <keybinding on="k" invoke="selectPrevious()"></keybinding>
        <keybinding on="/" invoke="toggleSearch()"></keybinding>
        <div id="list-options">
          <form class="pure-form" id="searchform" ng-submit="submitSearch()">
            <input type="text" ng-model="search_q_primary" id="search_q" class="pure-input-rounded" placeholder="Search...">
            <button class="pure-button secondary-button" type="button" ng-if="search_q_primary" ng-click="clearSearch()">Clear</button>
            <button class="pure-button secondary-button" type="button" title="Filter by Product &amp; Component"
              ng-if="!search_q_primary"
              ng-click="toggleShowProductFilters()"
              ng-class="{'has-filters': product_filters.length}">
	          <span ng-if="!show_product_filters">Filter</span>
	          <span ng-if="show_product_filters">Close</span>
            <span ng-if="product_filters.length">({{ product_filters.length }})</span>
            </button>
          </form>
        </div><!-- /#list-options -->
	      <div id="product-filters" ng-if="show_product_filters">
          <ul>
            <li ng-class="{selected: !product_filters.length}">
              <a href="#" ng-click="filterByProduct('ALL')">ALL ({{ bugs.length }})</a>
            </li>
            <li ng-repeat="combo in products | stringArraySort"
                ng-class="{selected: isSelectedProductFilter(combo)}">
              <a href="#" ng-click="filterByProduct(combo)">{{ combo }} ({{ countBugsByProduct(combo) }})</a>
            </li>
          </ul>
	      </div><!-- /#product-filters -->

        <div id="list-items">
          <div class="email-item pure-g" ng-repeat="bug in filtered_bugs = (bugs | filter:isFilteredProduct | filter:isFilteredStatus | filter:filterBySearch) | orderBy:'last_change_time':true | limitTo:list_limit  track by bug.id"
             ng-class="{'email-item-changed': bug.is_changed, 'email-item-unread': bug.unread, 'email-item-active': isSelectedBug(bug)}" ng-click="selectBug(bug)"
             id="b{{ bug.id }}">

            <div class="pure-u">
                <img class="email-avatar" alt="Avatar" height="32" width="32" ng-if="isEmail(bug.creator)" ng-src="{{ avatarURL(bug.creator) }}">
                <br><br>
		            <span style="margin-left:10px" class="badge badge-small" ng-if="hasAdditionalComments(bug)" title="Number of comments">{{ countAdditionalComments(bug) }}</span>
            </div>

            <div class="pure-u-5-6">
                <h5 class="email-name">{{ bug.product }} :: {{ bug.component }}</h5>
                <h4 class="email-subject">
                  <a href="{{ makeBugzillaLink(bug.id) }}" target="_blank" ng-bind-html="highlightSearch(bug.id)"></a>
                  <span ng-bind-html="highlightSearch(bug.summary)"></span>
                </h4>
                <p class="email-desc">
                  {{ bug.extract }}
                  <br>
                  <img class="padlock" src="static/images/padlock.gif" ng-if="bug.groups" alt="Padlock" title="Only visible to people in {{ bug.groups.join(', ') }}">
                  <span class="badge badge-small badge-{{ bug.status }}" ng-if="bug.status">{{ bug.status }}</span>
                  <span class="badge badge-small" ng-if="bug.resolution">{{ bug.resolution }}</span>
                </p>
            </div>
          </div><!-- /email-item -->

          <div ng-if="!filtered_bugs.length && products.length" class="email-item">
            <p>Filtered too much?</p>

            <p ng-if="product_filters.length">
              You've filtered by:<br><b>{{ product_filters.join(', ') }}</b>.
              <a href="#" ng-click="filterByProduct('ALL')">Reset</a>
            </p>

            <p ng-if="selected_statuses.length">
              Only showing: <br><b>{{ selected_statuses.join(', ') }}</b>.
              <a href="#" ng-click="filterByStatus('ALL')">Reset</a>
            </p>

          </div><!-- /email-item -->

          <div ng-if="canLoadMore(filtered_bugs.length)" class="email-item">
            <p>
              Limited to the {{ list_limit }} most recently changed.<br>
              <a href="#" ng-click="loadMore()">Load more</a>
            </p>
          </div><!-- /email-item -->

        </div>
    </div>

    <div class="pure-u-1" id="main">

        <div class="email-content" ng-if="!bug.empty && in_about">
            <div class="email-content-header pure-g">
                <div class="pure-u-2-3">
                    <h1 class="email-content-title">About This App</h1>
                </div>
                <div class="pure-u-1-3">
                    <p style="text-align: right"><a href="#" ng-click="toggleAbout()">Close</a></p>
                </div>
            </div>
            <div class="email-content-body">
       	    <p>
              Project can be forked on Github:
              <a href="https://github.com/peterbe/buggy" target="_blank" style="font-weight: bold">github.com/peterbe/buggy</a>
            </p>
            </div>
            <div class="email-content-body">
              <h2>Keyboard Shortcuts</h2>
              <table class="pure-table keyboard-shortcuts">
                <thead>
                  <tr>
                    <th>What</th>
                    <th>Happens</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="text-align:center"><code>/</code></td>
                    <td>Focus on <b>search</b></td>
                  </tr>
                  <tr>
                    <td style="text-align:center"><code>j</code></td>
                    <td>Select <b>next</b> bug in the list</td>
                  </tr>
                  <tr>
                    <td style="text-align:center"><code>k</code></td>
                    <td>Select <b>previous</b> bug in the list</td>
                  </tr>
                </tbody>
              </table>
	    </div>
	</div><!-- /about -->

        <div class="email-content" ng-if="!bug.empty && in_charts" ng-controller="ChartsController">
          <div>
            <div class="email-content-header pure-g">
                <div class="pure-u-2-3">
                    <h1 class="email-content-title">Charts</h1>
                </div>
                <div class="pure-u-1-3">
                    <p style="text-align: right"><a href="#" ng-click="toggleCharts()">Close</a></p>
                </div>
            </div>
            <div class="email-content-body">
              <div id="number_bugs_chart" class="chart">
                <h4>Number of Bugs by Product &amp; Component</h4>
                <svg style="height:550px"></svg>
                <form class="pure-form">
                  <p>
                    Group by by:
                    <label for="number_bugs_charts_g1" class="pure-radio">
                      <input id="number_bugs_charts_g1" type="radio" name="group" ng-model="number_bugs_charts_group" value="all">
                      Individual statuses
                    </label>
                    <label for="number_bugs_charts_g2" class="pure-radio">
                      <input id="number_bugs_charts_g2" type="radio" name="group" ng-model="number_bugs_charts_group" value="simple">
                      Open/Closed
                    </label>
                  </p>
                </form>
              </div>
            </div>
          </div>
	</div><!-- /charts -->

        <div ng-if="in_config" ng-controller="ConfigController">
            <div class="email-content-header pure-g">
                <div class="pure-u-2-3">
                    <h1 class="email-content-title">Configuration Options</h1>
                </div>
                <div class="pure-u-1-3">
                    <p style="text-align: right"><a href="#" ng-click="toggleConfig()">Close</a></p>
                </div>
            </div>
            <div class="email-content-body">
              <h2>Products &amp; Components</h2>
              <table class="pure-table">
                <thead>
                  <tr>
                    <th>Product &amp; Component</th>
                    <th>Count</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="combo in products | stringArraySort">
                    <td>{{ combo }}</td>
                    <td>({{ countBugsByProduct(combo) }})</td>
                    <td><a href="" ng-click="removeProduct(combo)" title="Remove '{{ combo }}'"><img src="static/images/trash.png" alt="Trash"></a></td>
                  </tr>
                </tbody>
              </table>
              <p ng-if="products_changed">
                <a href="#" ng-click="refreshBugs()"><img src="static/images/refresh.png" alt="Refresh"> Refresh list now</a>
              </p>
              <p ng-if="!products.length">
                You have not yet selected any products and components.
              </p>
              <form class="pure-form" ng-submit="addProduct()">
                <p>Select new Product &amp; Component</p>
                <input ng-model="search_products" type="text" placeholder="Search" class="pure-input-rounded"><br>
                <select ng-model="product_choice" multiple>
                  <option ng-repeat="combo in product_choices | filter:isFoundProductChoice" value="{{ combo }}"
                  ng-bind-html="highlightProductSearch(combo)"></option>
                </select>
                <button class="pure-button secondary-button">Add</button>

              </form>
              <form ng-submit="searchProductsByEmail()" class="pure-form">
                <p>Find products &amp; components by bugs you're assigned to:</p>
                <input ng-model="email" type="text" placeholder="email@example.com">
                <button class="pure-button secondary-button">Search</button>
              </form>
  	      <table class="pure-table" ng-class="{hidden: !found_products.length}" style="margin-top:5px">
  	        <thead>
		  <tr>
		    <th>Product &amp; Component</th>
		    <th>&nbsp;</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="combo in found_products">
		    <td>{{ combo }}</td>
		    <td><a href="#" ng-click="addProductCombo(combo)" class="pure-button button-xsmall">+</a></td>
		  </tr>
		</tbody>
	      </table>
            </div><!-- / products & components -->

            <div class="email-content-body">
            <form ng-submit="getAuthCookie()" class="pure-form" ng-if="!auth_token">
              <input type="email" ng-model="email" placeholder="Email">
              <input type="password" ng-model="password" placeholder="Password">
              <button type="submit" class="pure-button pure-button-primary">Sign in</button>
            </form>
            <p ng-if="auth_token">
              You have successfully signed in. <a href="#" ng-click="clearAuthToken()">Sign out</a>
            </p>
            </div><!-- / auth -->

            <div class="email-content-body">
              <p>
                Play sounds:
                <b ng-if="play_sounds">On</b>
                <b ng-if="!play_sounds">Off</b>
                <a href="" ng-click="togglePlaySounds()">Toggle</a>
              </p>
            </div><!-- / toggle sounds -->

            <div class="email-content-body">
              <h2>In Memory</h2>
              <dl>
                <dt># Bugs in scope</dt>
                <dd>{{ config_stats.total_bugs | number:0 }}</dd>
                <dt># Comments in all bugs ({{ count_bugs_with_comments }} of {{ config_stats.total_bugs }})</dt>
                <dd>{{ count_total_comments | number:0 }}</dd>
                <dt>Data downloaded this session</dt>
                <dd>{{ config_stats.data_downloaded_human }}</dd>
                <dt>Total Data downloaded</dt>
                <dd>{{ config_stats.total_data_downloaded_human }}</dd>
              </dl>
            </div>

            <div class="email-content-body">
              <h2>Debug Tools</h2>
              <form ng-submit="cleanLocalStorage()">
                <p>
                  <button class="pure-button pure-button-primary">Clean Local Storage</button>
                </p>
              </form>
              <form ng-submit="clearLocalStorage()">
                <p>
                  <button class="pure-button pure-button-primary">Clear All Local Storage</button>
                </p>
              </form>
            </div>

        </div><!-- /in_config -->

        <div class="email-content" ng-if="bug.empty && !in_config && !in_about && !in_charts">
          <div class="email-content-header pure-g">
            <div class="pure-u-1-2">
              <h1 class="email-content-title">Nothing selected</h1>
            </div>
          </div>

          <div class="email-content-body" ng-if="products.length">
            <p>Select a bug in the left-hand column</p>
          </div>

          <div class="email-content-body" ng-if="!products.length">
            <p><b>Welcome!</b></p>
            <p>To <b>get started</b> click "Config" in the nav bar and select the products you want to watch.</p>
          </div>
        </div><!-- /empty -->

      	<div id="top"></div>

        <div class="email-content" ng-if="!bug.empty && !in_config && !in_about && !in_charts" scrolling ng-controller="BugController">
	         <div class="scrolling">
            <p>
  	        <a href="#bottom" ng-click="gotoBottom()" ng-class="{hidden: at_bottom}">&darr; Bottom</a>
  	        <a href="#top" ng-click="gotoTop()" ng-class="{hidden: at_top}">&uarr; Top</a>
            </p>
	      </div>
	      <div class="sticky-summary" ng-class="{hidden: !show_sticky}">
  	      <h5>
              <a href="{{ makeBugzillaLink(bug.id) }}" target="_blank">{{ bug.id }}</a>
              <span class="email-name">{{ bug.product }} :: {{ bug.component }}</span>
              <span class="badge badge-small badge-{{ bug.status }}" ng-if="bug.status">{{ bug.status }}</span>
              <span class="badge badge-small" ng-if="bug.resolution">{{ bug.resolution }}</span>
              <a href="#top" ng-click="gotoTop()">&uarr; Top</a>
          </h5>
          <h4>{{ bug.summary }}</h4>
  	    </div>
            <div class="email-content-header pure-g">

                <div class="pure-u-2-3">
                    <h5 class="email-name">{{ bug.product }} :: {{ bug.component }}</h5>
                    <h2 class="email-content-title">{{ bug.summary }}</h2>
                    <p class="external-url">
                      <a href="{{ makeBugzillaLink(bug.id) }}"
                         target="_blank">
                        {{ makeBugzillaLink(bug.id) }}
                      </a>
                    </p>
                </div>
                <div class="pure-u-1-3 email-content-controls">
            		  <p>
                    <img src="static/images/padlock.gif" ng-if="bug.groups" alt="Padlock" title="Only visible to people in {{ bug.groups.join(', ') }}">
                    <span class="badge badge-{{ bug.status }}" ng-if="bug.status">{{ bug.status }}</span>
                    <span class="badge badge" ng-if="bug.resolution">{{ bug.resolution }}</span>
            		  </p>
		              <button class="pure-button secondary-button" ng-click="refreshBug(bug)"
        		      >Refresh Bug</button>
                </div>

                <div class="pure-u" ng-if="bug.creator_detail.email">
                    <img class="email-avatar" alt="Avatar" height="32" width="32" ng-src="{{ avatarURL(bug.creator_detail.email) }}">
                </div>
                <div class="pure-u-3-4">
                  <p class="email-content-subtitle">
                        By <b>{{ bug.creator_detail.real_name || bug.creator_detail.email }}</b> at
                        <span>{{ bug.creation_time }}</span><br>
			                   last changed <span>{{ displayTimeAgo(bug.last_change_time) }}</span>
                  </p>
                  <p class="email-content-subtitle" ng-if="isAssignedTo(bug)">
                        Assigned to <b>{{ bug.assigned_to_detail.real_name ||bug.assigned_to_detail.email }}</b>
                  </p>
                </div>

            </div>

            <div ng-repeat="thing in bug.things">
              <div ng-if="thing.comment" class="email-content-body">
                <div class="pure-u" ng-if="isEmail(thing.comment.creator)">
                  <img class="email-avatar" alt="Avatar" height="32" width="32" ng-src="{{ avatarURL(thing.comment.creator) }}">
                </div>
                <div class="pure-u-3-4">
                  <p class="email-content-subtitle">
                    By <b>{{ nameOrEmail(thing.comment.creator) }}</b> at
                    <a href="{{ makeBugzillaLink(bug.id) }}#c{{ $index }}" target="_blank"><span>{{ thing.comment.creation_time }}</span></a>
                    <br>
                    <span>{{ displayTimeAgo(thing.comment.creation_time) }}</span>
                  </p>
                </div>
                <pre ng-bind-html="thing.comment.text | linky:'_blank'"></pre>
              </div>

              <div ng-if="thing.change" class="email-content-body">
                <div class="pure-u" ng-if="isEmail(thing.change.who)">
                  <img class="email-avatar" alt="Avatar" height="32" width="32" ng-src="{{ avatarURL(thing.change.who) }}">
                </div>
                <div class="pure-u-3-4">
                  <p class="email-content-subtitle">
                     Change by <b>{{ thing.change.who }}</b> at <span>{{ thing.change.when }}</span><br>
                     <span>{{ displayTimeAgo(thing.change.when) }}</span>
                  </p>
                </div>
                <table class="history pure-table pure-table-bordered">
                  <thead>
                    <tr>
                      <th>Field</th>
                      <th>Removed</th>
                      <th>Added</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="change in thing.change.changes">
                      <td>{{ change.field_name }}</td>
                      <td>{{ change.removed }}</td>
                      <td>{{ change.added }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div ng-if="thing.attachment" class="email-content-body">
                <p>
                  <a href="{{ makeBugzillaAttachmentLink(thing.attachment.id) }}" target="_blank">{{ thing.attachment.summary }}</a>
                  <span ng-if="thing.attachment.is_patch">
                  (<a href="{{ makeBugzillaAttachmentLink(thing.attachment.id) }}&amp;action=edit" target="_blank">Details</a>,
                   <a href="{{ makeBugzillaAttachmentLink(thing.attachment.id) }}&amp;action=diff" target="_blank">Diff</a>,
                   <a href="{{ makeBugzillaAttachmentReviewLink(bug.id, thing.attachment.id) }}" target="_blank">Review</a>)
                  </span>
                  <span ng-if="!thing.attachment.is_patch">
                  (<a href="{{ makeBugzillaAttachmentLink(thing.attachment.id) }}&amp;action=edit" target="_blank">Details</a>)
                  </span>
                  <br>
                  {{ showFileSize(thing.attachment.size) }} ({{ thing.attachment.content_type }})
                </p>
              </div>

            </div><!-- /repeat bug.things -->
            <div id="bottom"></div>

	    <div class="email-content-body post-comment" ng-class="{hidden: !auth_token}">
  	      <form ng-submit="submitUpdate()" class="pure-form">
                <textarea ng-model="comment" placeholder="Post a comment..."></textarea><br>
                <br>
                <select ng-model="status">
                  <!--<option value="">Optionally change status</option>-->
                  <option ng-repeat="s in changeable_statuses" value="{{ s }}">{{ s }}</option>
                </select>
                <select ng-model="resolution" ng-class="{hidden: !changeable_resolutions.length}">
                  <option ng-repeat="r in changeable_resolutions" value="{{ r }}">{{ r }}</option>
                </select>
                <button type="submit" class="pure-button pure-button-primary button-small">Submit</button>
	      </form>
              <div ng-repeat="post in getBugPostQueue(bug.id) track by post._when">
                <h4 ng-if="!$index">Sync Queue</h4>
                <div class="post-queue-item">
                  <a ng-if="post._error"
                     href="#" class="pure-button button-small cancel pure-button-primary"
                     ng-click="cancelPost(bug.id, post._when)">
                      Cancel
                  </a>
                  <p><b>Submitted <span>{{ displayTimeAgo(post._when) }}</span></b></p>
                  <p ng-if="post.status"><b>Status &rarr;</b> <code>{{ post.status }}</code></p>
                  <p ng-if="post.resolution"><b>Resolution &rarr;</b> <code>{{ post.resolution }}</code></p>
                  <p ng-if="post.comment"><b>Comment &rarr;</b> <span class="extract">{{ post.comment }}</span></p>
                  <p ng-if="post._error" class="error">
                    <b>Error:</b>
                    <span>{{ post._error }}</span>
                  </p>

              </div>
            </div>
        </div><!-- /!bug -->

    </div>

    <div class="notice loading pure-u ng-hide" ng-show="loading">
      <p class="blinking">{{ loading.message }}</p>
    </div>

    <div class="notice errornotice pure-u ng-hide" ng-show="error_notice">
      <p>{{ error_notice }}</p>
    </div>

    <div class="notice generalnotice pure-u ng-hide" ng-show="general_notice">
      <p>{{ general_notice }}</p>
    </div>

    <div class="notice offlinenotice pure-u ng-hide" ng-show="is_offline">
      <p>
        It appears <b>you are offline</b>.
        Unable to connect to <a href="https://bugzilla.mozilla.org/" target="_blank">bugzilla.mozilla.org</a>.
      </p>
    </div>

</div>

<!-- build:remove -->
<script>var DEBUG = true</script>
<!-- endbuild -->

<!-- build:js _cache/first-$hash.min.js -->
<script src="static/js/vendor/dialog-polyfill.js"></script>
<script src="static/js/cloak-dialog.js"></script>
<!-- endbuild -->

<!-- build:js _cache/vendor-$hash.min.js -->
<script src="static/js/vendor/angular.min.js"></script>
<script src="static/js/vendor/angular-sanitize.min.js"></script>
<script src="static/js/vendor/mousetrap.min.js"></script>
<script src="static/js/vendor/localForage.js"></script>
<script src="static/js/vendor/underscore-min.js"></script>
<script src="static/js/vendor/moment.min.js"></script>
<script src="static/js/vendor/filesize.min.js"></script>
<script src="static/js/vendor/howler.min.js"></script>
<script src="static/js/vendor/d3.v3.min.js"></script>
<script src="static/js/vendor/nv.d3.min.js"></script>
<!-- endbuild -->

<!-- build:js _cache/bundle-$hash.min.js -->
<script src="static/js/md5.js"></script>
<script src="static/js/angularForage.js"></script>
<script src="static/js/utils.js"></script>
<script src="static/js/buggy.js"></script>
<!-- endbuild -->



<script>var POP_SOUNDS = ['static/sounds/pop.mp3', 'static/sounds/pop.ogg'];</script>

</body>
</html>
