<!doctype html>
<html lang="en" ng-app="buggyApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buggy</title>

<link rel="stylesheet" href="static/css/pure-min.css">
<link rel="stylesheet" href="static/css/email.css">
<link rel="stylesheet" href="static/css/extra.css">

<!---<script src="http://use.typekit.net/gis6vng.js"></script>
<script>
    try { Typekit.load(); } catch (e) {}
</script>-->

</head>
<body>


<div class="pure-g-r content" id="layout" ng-controller="BugsController">
    <div class="pure-u" id="nav">
        <a href="#" class="nav-menu-button">Menu</a>

        <div class="nav-inner">
            <!--
            <button class="pure-button primary-button">Compose</button>-->

            </p>

            <div class="pure-menu pure-menu-open">
                <ul>
                    <!--
                    <li><a href="#">Inbox <span class="email-count">(2)</span></a></li>
                    <li><a href="#">Important</a></li>
                    <li><a href="#">Sent</a></li>
                    <li><a href="#">Drafts</a></li>
                    <li><a href="#">Trash</a></li>
                    -->
                    <li class="pure-menu-heading">Statuses</li>
                    <li class="label"
                        ><a href="#" ng-class="{active: !selected_statuses.length}"
                          ng-click="filterByStatus('ALL')"
                          ><span class="status status-ALL"></span>ALL ({{ countByStatus('ALL') }})</a></li>
                    <li ng-repeat="status in all_possible_statuses"
                        class="label"
                        ><a href="#" ng-click="filterByStatus(status)"
                          ng-class="{active: isSelectedStatus(status)}"
                          ><span class="status status-{{ status }}"></span>{{ status }} ({{ countByStatus(status) }})</a></li>
                    <li class="label" ng-if="email"
                        ><a href="#"
                          ng-class="{active: isSelectedStatus('ASSIGNED_TO')}"
                          ng-click="filterByStatus('ASSIGNED_TO')"
                          ><span class="status status-ASSIGNED_TO"></span>ASSIGNED TO ME ({{ countByStatus('ASSIGNED_TO') }})</a></li>

                    <!--
                    <li><a href="#"><span class="email-label-work"></span>Work</a></li>
                    <li><a href="#"><span class="email-label-travel"></span>Travel</a></li>
                    -->
                    <li class="pure-menu-heading">Options</li>
                    <li><a href="#/config" ng-click="toggleConfig()">Config</a></li>

                </ul>
            </div>

        </div>
    </div>

    <div class="pure-u-1" id="list">
        <div id="list-options">
          <p>
                      <a href="#" ng-click="refreshBugs()"
                       title="Can't wait to see if it's updated remotely?"
                       ><img src="static/images/refresh.png" alt="Refresh"> Refresh List</a>

                      <a href="#" ng-click="reDownloadSomeComments()"
                       style="margin-left:15px"
                       title="Download more comments in the background
                       ({{ count_bugs_with_comments }}/{{ bugs.length }})"
                       ><img src="static/images/download.png" alt="Download"> Download more comments</a>

                      <a href="" ng-click="toggleSearch()" title="Search and ye shall find"><img src="static/images/search.png" alt="Search"></a>

          </p>
          <form class="pure-form" id="searchform" ng-submit="submitSearch()" ng-class="{hidden: !in_search}">
            <input type="text" ng-model="search_q" id="search_q" class="pure-input-rounded">
            <button class="pure-button secondary-button" ng-if="search_q" ng-click="clearSearch()">Clear</button>
          </form>
        </div>
        <!-- consider `email-item-selected` -->
        <!-- consider `email-item-unread` -->
        <div id="list-items" when-scrolled="listScrolled()">
          <div class="email-item pure-g" ng-repeat="bug in bugs | filter:filterBySearch | filter:isFilteredStatus | orderBy:'last_change_time':true | limitTo:list_limit  track by bug.id"
             ng-class="{'email-item-unread': bug.unread, 'email-item-active': isSelectedBug(bug)}" ng-click="selectBug(bug)">
            <div class="pure-u">
                <img class="email-avatar" alt="Avatar" height="32" width="32" ng-if="isEmail(bug.creator)" ng-src="{{ avatarURL(bug.creator) }}">
                <br><br>
                <abbr style="margin-left:10px" class="badge badge-small" ng-if="hasAdditionalComments(bug)" title="Number of comments">{{ countAdditionalComments(bug) }}</abbr>
            </div>

            <div class="pure-u-5-6">
                <h5 class="email-name">{{ bug.product }} :: {{ bug.component }}</h5>
                <h4 class="email-subject"><a href="{{ makeBugzillaLink(bug.id) }}" target="_blank">{{ bug.id }}</a> <span ng-bind-html="highlightSearch(bug.summary)"></span></h4>
                <!--<p><a href="{{ makeBugzillaLink(bug.id) }}" target="_blank">{{ bug.id }}</a></p>-->
                <p class="email-desc">

                    <!--{{ bug.last_change_time }}<br>-->
                    {{ bug.extract }}
                  <br>
                  <span class="badge badge-small badge-{{ bug.status }}" ng-if="bug.status">{{ bug.status }}</span>
                  <span class="badge badge-small" ng-if="bug.resolution">{{ bug.resolution }}</span>
                </p>
            </div>
          </div>

          <div ng-if="canLoadMore()" class="email-item">
            <p>
              Limited to the {{ list_limit }} most recently changed.<br>
              <a href="#" ng-click="loadMore()">Load more</a>
            </p>
          </div>
        </div>

    </div>

    <div class="pure-u-1" id="main">

        <div ng-if="in_config">
            <div class="email-content-header pure-g">
                <div class="pure-u-2-3">
                    <h1 class="email-content-title">Configuration Options</h1>
                </div>
                <div class="pure-u-1-3">
                    <p style="text-align: right"><a href="#" ng-click="toggleConfig()">Close</a></p>
                </div>
            </div>
            <div class="email-content-body">
              <h2>Products &amp; Components</h2>
              <table class="pure-table">
                <thead>
                  <tr>
                    <th>Product &amp; Component</th>
                    <th>Count</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="combo in products | stringArraySort">
                    <td>{{ combo }}</td>
                    <td>({{ countBugsByProduct(combo) }})</td>
                    <td><a href="" ng-click="removeProduct(combo)" title="Remove '{{ combo }}'"><img src="static/images/trash.png" alt="Trash"></a></td>
                  </tr>
                </tbody>
              </table>
              <p ng-if="products_changed">
                <a href="#" ng-click="refreshBugs()"><img src="static/images/refresh.png" alt="Refresh"> Refresh list now</a>
              </p>
              <p ng-if="!products.length">
                You have not yet selected any products and components.
              </p>
              <form class="pure-form" ng-submit="addProduct()">
                <p>Select new Product &amp; Component</p>
                <!--<select ui-select2 ng-model="select2" data-placeholder="Find a new component">-->
                <select ng-model="product_choice" ng-focus="startSelectProducts()" data-placeholder="Find a new component"
                >
                 <!--ng-options="product_choices">-->
                  <option ng-repeat="combo in product_choices" value="{{ combo }}">{{ combo }}</option>
                </select>
                <button class="pure-button secondary-button">Add</button>

              </form>
              <form ng-submit="searchProductsByEmail()" class="pure-form">
                <p>Find products &amp; components by bugs you're assigned to:</p>
                <input ng-model="email" type="text" placeholder="email@example.com">
                <button class="pure-button secondary-button">Search</button>
              </form>
            </div><!-- / products & components -->

            <div class="email-content-body">
            <form ng-submit="getAuthCookie()" class="pure-form" ng-if="!auth_token">
              <input type="email" ng-model="email" placeholder="Email">
              <input type="password" ng-model="password" placeholder="Password">
              <button type="submit" class="pure-button pure-button-primary">Sign in</button>
            </form>
            <p ng-if="auth_token">
              You have successfully signed in. <a href="#" ng-click="clearAuthToken()">Sign out</a>
            </p>
            </div><!-- / auth -->

            <div class="email-content-body">
              <h2>In Memory</h2>
              <dl>
                <dt># Bugs in scope</dt>
                <dd>{{ config_stats.total_bugs }}</dd>
                <dt># Comments in all bugs ({{ count_bugs_with_comments }} of {{ config_stats.total_bugs }})</dt>
                <dd>{{ count_total_comments }}</dd>
                <dt>Data downloaded this session</dt>
                <dd>{{ config_stats.data_downloaded_human }}</dd>
                <dt>Total Data downloaded</dt>
                <dd>{{ config_stats.total_data_downloaded_human }}</dd>
              </dl>
            </div>

            <div class="email-content-body">
              <h2>Debug Tools</h2>
              <form ng-submit="cleanLocalStorage()">
                <p>
                  <button class="pure-button pure-button-primary">Clean Local Storage</button>
                </p>
              </form>
              <form ng-submit="clearLocalStorage()">
                <p>
                  <button class="pure-button pure-button-primary">Clear All Local Storage</button>
                </p>
              </form>
            </div>

        </div>

        <div class="email-content" ng-if="bug.empty && !in_config">
            <div class="email-content-header pure-g">
                <div class="pure-u-1-2">
                    <h1 class="email-content-title">Nothing selected</h1>
                </div>
            </div>

            <div class="email-content-body">
             Select a bug in the left-hand column
            </div>
        </div><!-- /empty -->

        <div class="email-content" ng-if="!bug.empty && !in_config">
            <div class="email-content-header pure-g">
                <div class="pure-u-2-3">
                    <h2 class="email-content-title">{{ bug.summary }}</h2>
                    <p class="external-url">
                      <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bug.id }}"
                         target="_blank">
                        {{ makeBugzillaLink(bug.id) }}
                      </a>
                    </p>
                </div>
                <div class="pure-u-1-3 email-content-controls">
                    <span class="badge badge-{{ bug.status }}" ng-if="bug.status">{{ bug.status }}</span>
                    <span class="badge badge" ng-if="bug.resolution">{{ bug.resolution }}</span>

                    <p>
                      <a href="#" ng-click="refreshBug(bug)"
                       title="Can't wait to see if it's updated remotely?"
                       ><img src="static/images/refresh.png" alt="Refresh"></a>
                    </p>
                    <button class="pure-button secondary-button" ng-click="toggleShowHistory()" ng-if="!show_history">
                    Hide History
                    </button>
                    <button class="pure-button secondary-button" ng-click="toggleShowHistory()" ng-if="show_history">
                    Show History
                    </button>
                    <!--<button class="pure-button secondary-button">Forward</button>
                    <button class="pure-button secondary-button">Move to</button>-->
                </div>


                <div class="pure-u" ng-if="bug.creator_detail.email">
                    <img class="email-avatar" alt="Avatar" height="32" width="32" ng-src="{{ avatarURL(bug.creator_detail.email) }}">
                </div>
                <div class="pure-u-3-4">
                  <p class="email-content-subtitle">
                        By <b>{{ bug.creator_detail.real_name }}</b> at
                        <span>{{ bug.creation_time }}</span><br>
			last changed <span>{{ displayTimeAgo(bug.last_change_time) }}</span>
                  </p>
                </div>

                <div class="pure-u-3-4" ng-if="isAssignedTo(bug)">
                  <p class="email-content-subtitle">
                        Assigned to <b>{{ bug.assigned_to_detail.real_name }}</b>
                  </p>
                </div>

            </div>


            <div ng-repeat="thing in bug.things">
              <div ng-if="thing.comment" class="email-content-body">
                <div class="pure-u" ng-if="isEmail(thing.comment.creator)">
                  <img class="email-avatar" alt="Avatar" height="32" width="32" ng-src="{{ avatarURL(thing.comment.creator) }}">
                </div>
                <div class="pure-u-3-4">
                  <p class="email-content-subtitle">
                    By <b>{{ thing.comment.creator }}</b> at
                    <a href="{{ makeBugzillaLink(bug.id) }}#c{{ $index }}" target="_blank"><span>{{ thing.comment.creation_time }}</span></a>
                    <br>
                    <span>{{ displayTimeAgo(thing.comment.creation_time) }}</span>
                  </p>
                </div>
                <pre ng-bind-html="thing.comment.text | linky:'_blank'"></pre>
              </div>

              <div ng-if="thing.change" ng-class="{hidden: show_history}" class="email-content-body">
                <div class="pure-u" ng-if="isEmail(thing.change.who)">
                  <img class="email-avatar" alt="Avatar" height="32" width="32" ng-src="{{ avatarURL(thing.change.who) }}">
                </div>
                <div class="pure-u-3-4">
                  <p class="email-content-subtitle">
                     Change by <b>{{ thing.change.who }}</b> at <span>{{ thing.change.when }}</span><br>
                     <span>{{ displayTimeAgo(thing.change.when) }}</span>
                  </p>
                </div>
                  <table class="history pure-table pure-table-bordered">
                    <thead>
                      <tr>
                        <th>Field</th>
                        <th>Removed</th>
                        <th>Added</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="change in thing.change.changes">
                      <td>{{ change.field_name }}</td>
                      <td>{{ change.removed }}</td>
                      <td>{{ change.added }}</td>
                    </tr>
                    </tbody>
                  </table>
              </div>

            </div>

        </div><!-- /!empty -->
    </div>

    <div class="loading pure-u ng-hide" ng-show="loading">
      <p class="blinking">{{ loading.message }}</p>
    </div>

    <div class="errornotice pure-u ng-hide" ng-show="error_notice">
      <p>{{ error_notice }}</p>
    </div>

</div>



<script src="static/js/vendor/angular.min.js"></script>
<script src="static/js/vendor/angular-sanitize.min.js"></script>
<script src="static/js/vendor/localForage.js"></script>
<script src="static/js/vendor/underscore-min.js"></script>
<script src="static/js/vendor/moment.min.js"></script>
<script src="static/js/vendor/filesize.min.js"></script>
<script src="static/js/angularforage.js"></script>
<script src="static/js/utils.js"></script>
<script src="static/js/buggy.js"></script>
<!-- things that aren't immediately needed -->
<script async src="static/js/vendor/filesize.min.js"></script>

</body>
</html>
