.badge {
    margin: 0px 0.1em;
    padding: 0.3em 0.5em;
    color: #FFF;
    border-radius: 3px;
    background: none repeat scroll 0% 0% #999;
    font-size: 80%;
}
.badge-green {
    background: none repeat scroll 0% 0% #5ABA59;
}
.badge-blue {
    background: none repeat scroll 0% 0% #4D85D1;
}
.badge-red {
    background: none repeat scroll 0% 0% #DF2D4F;
}
.badge-purple {
    background: none repeat scroll 0% 0% #8156A7;
}
.badge-small {
    font-size: 60%
}

.email-content-body {
    border-bottom: 1px solid #DDD;
}

.email-content-body pre {
    font-family: sans-serif;
    font-size: 0.9em;
}

.email-content-subtitle {
    font-size: 0.9em;
}

.loading, .errornotice {
    position: fixed;
    opacity: 0.8;
    top: 0;
    right: 0;
}
.loading {
    z-index: 2;
    background-color: #fff;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    border-bottom-left-radius: 6px;
    background-image: url(../images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: 1% 75%;
}
.loading p {
    margin: 3px 23px;
    margin-left: 45px;
}
.errornotice {
    z-index: 3;
    background-color: #fff;
    color: red;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    border-bottom-left-radius: 6px;
}
.errornotice p {
    margin: 3px 23px;
    font-weight: bold;
}

.blinking {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


#list-options {
    position: fixed;
    left: 150px;
    width: 450px;
    top: 0;
    /*box-shadow: 0 0 4px rgba(80,80,80,0.25);*/
    /*box-shadow: 0px 0px 7px 2px rgba(120, 120, 120, 0.6);*/
    box-shadow: 0 3px 3px -2px rgba(120, 120, 120, 0.5);
    opacity: 0.9;
    background: #fff;
    border-bottom: 1px solid #ccc;
    z-index: 100;
}
#list-options p {
    margin:5px 20px;

}

#list-items {
    margin-top: 50px;
}
